

    <div class="row mt-2">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <button id="btn1" data-target="panel1">Button1</button>
                </div>

                <div class="col-md-3">
                    <button id="btn2" data-target="panel2">Button2</button>
                </div>

                <div class="col-md-3">
                    <button id="btn3" data-target="panel3">Button3</button>
                </div>

                <div class="col-md-3">
                    <button id="btn4" data-target="panel4">Button4</button>
                </div>
            </div>


            <div class="col-md-12">
                <br>
            </div>

            <div class="row">
                <div class="col-md-3" name="panel" id="panel1">
                    <div class="heading">
                        <h3>Panel 1</h3>
                    </div>
                    <div class="body">
                        <p>This is Panel 1 Body</p>
                    </div>
                </div>

                <div class="col-md-3" name="panel" id="panel2">
                    <div class="heading">
                        <h3>Panel 2</h3>
                    </div>
                    <div class="body">
                        <p>This is Panel 2 Body</p>
                    </div>
                </div>

                <div class="col-md-3" name="panel" id="panel3">
                    <div class="heading">
                        <h3>Panel 3</h3>
                    </div>
                    <div class="body">
                        <p>This is Panel 3 Body</p>
                    </div>
                </div>

                <div class="col-md-3" name="panel" id="panel4">
                    <div class="heading">
                        <h3>Panel 4</h3>
                    </div>
                    <div class="body">
                        <p>This is Panel 4 Body</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
 

