// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.heading{
    background:lightpink;
}
.body{
    background: linen;
    margin-top: -0.5em;
}
